/** @format */

.about-info {
	max-width: 58rem;
	padding: 6.2rem 4.8rem 0;
	@include respond-to("medium") {
		padding: 4rem;
	}

	@include respond-to("small") {
		padding: 2.7rem;
		padding-top: 4rem;
	}
}

.about-info__heading {
	@extend %title-18;
	padding-top: 0.4rem;
	text-transform: uppercase;
	letter-spacing: 0.57rem;
	padding-bottom: 1.5rem;

	@include respond-to("small") {
		font-size: 1rem;
		letter-spacing: 0.6rem;
	}
}

.about-info__description {
	color: $color-tertiary;
	letter-spacing: 0.13rem;
	line-height: 1.8;

	@include respond-to("small") {
		font-size: 1.1rem;
		// background-color: #955d5d6f;
		letter-spacing: 0.1rem;
		line-height: 1.6;
	}
}
