/** @format */

%title-42 {
	font-size: 4.2rem;
	font-family: "League Spartan", sans-serif;
	font-weight: 700;
	line-height: 1.1;
	color: $color-secondary;
}

%title-18 {
	font-size: 1.8rem;
	font-family: "League Spartan", sans-serif;
	font-weight: 600;
	color: $color-secondary;
}

%para-12 {
	font-size: 1.2rem;
	font-family: "League Spartan", sans-serif;
	font-weight: 500;
}
